.menu {
	padding: 52px 24px 56px 40px;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

/* --- main__bar --- */
.bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 12px;
}

.barRequest {
	display: flex;
	gap: 11px;
	align-items: center;
	/* margin-right: 12px; */
}

.requestText {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-black);
}

.request-form__search-img {
	position: absolute;
	right: 60px;
	top: 18px;
	cursor: pointer;
}
