.requestBtn {
	background-color: var(--color-button);
	border-radius: 4px;
	height: 40px;
	padding: 0 20px 0 16px;
	display: flex;
	align-items: center;
	gap: 16px;
	text-align: center;
	cursor: pointer;
}

.requestBtn:hover {
	opacity: 0.8;
}

.btnText {
	color: var(--color-white);
	font-weight: 300;
}
